.carsnews {
    background-color: #E5E5E5;
    min-height: 700px;
    padding-bottom: 100px;
}

.carnews__inner {
    display: flex;
    align-items: center;
}

.carnews__title-br {
    display: block;
}