.header {
    position: relative;
    z-index: 1;
}

.header__inner {
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    min-width: 125px;
    max-height: 80px;
    position: relative;
    z-index: 20;
}

.header__nav {
    min-width: 785px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
}

.header__nav-item:hover {
    border-bottom: 1px solid #FFFF;
    transition: border 0.3s linear;
}

.header__nav-item+.header__nav-item {
    margin-left: 40px;
}

.header__nav-item--invert:hover {
    border-bottom: 1px solid #000;
    transition: border 0.3s linear;
}


.header__nav-link {
    line-height: 18px;
    color: #fff;
}

.header__nav-active {
    font-weight: 500;
    border-bottom: 1px solid #fff;
}


.header__nav-active--invert {
    font-weight: 500;
    border-bottom: 1px solid #000;
}

.header__nav-link--invert {
    color: #000;
}

.header__search {
    height: 25px;
    width: 25px;
    position: relative;
}

.header__search-active {
    .header__search-input {
        opacity: 1;
        z-index: 5;
    }

    .header__search-btn {
        display: block;
    }

    .header__search-img {
        display: none;
    }
}

.header__search-input {
    width: 495px;
    padding: 10px 5px;
    font-size: 14px;
    line-height: 15px;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    position: absolute;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition-duration: 0.5s;
    transition-property: opacity;
    appearance: none;
}

.header__search-btn {
    display: none;
    background: none;
    appearance: none;
    width: 25px;
    position: relative;
    z-index: 5;
}

.header__search-img {
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.header__nav-search--invert {
    svg path {
        fill: #000;
    }
}

.header__info {
    min-width: 325px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;   
    
}

.header__info--invert {
    color: #000;
}

.header__language {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.header__lang {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 42px;
    width: 42px;
    color: rgba(255, 255, 255, 0.5);
}

.header__lang--invert {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
}

.header__lang-active {
    border: 1px solid #fff;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.header__lang-active--invert {
    border: 1px solid #000;
    color: #000;
}

.header__phone {
    font-weight: 500;
}