.latest {
    background-color: #E5E5E5;
    min-height: 500px;
    padding-bottom: 80px;
}

.latest__inner {
    display: flex;
    flex-direction: column;
}

.latest__video {    
    height: 305px;
    outline: none;
}

.latest__video-title {
    max-width: 367px;
    padding-top: 15px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.latest__arrows {
    display: flex;
}

.latest__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    height: 42px;
    width: 42px;
    cursor: pointer;
}

.latest__arrow-prev {
    border-right: none;
}