.menu {
    width: 300px;
}

.menu__main {
    min-height: 465px;
    background: #fff;
    position: relative;
    padding-top: 20px;
    z-index: 5;
}

.menu__list-wrapper {
    position: absolute;
    top: 0;
    border-left: 20px solid transparent;
    width: 100%;
    right: -95%;
    z-index: 5;
}

.menu__main-list {
    height: 60px;
    padding: 20px 40px;
    display: flex;
    align-items: center; 
    
    &:hover {
        background-color: #F3F2F5;

        .menu__main {
            min-height: 722px;
        }

        .menu__main-item {
            color: #E31937;
            font-weight: 500;
            transition: 0.3s all;
        }

        .menu__sec {
            opacity: 1;
            top: 0;            


            &::before {
                content: '';
                width: 40px;
                top: 0;
                bottom: 0;
                position: absolute;
                left: -60px;
                background-color: transparent;
            }
        }
    }
}

.menu__main-item {
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 28px;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.2);
        bottom: -17px;
        width: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        background-image: url(../img/icons/link-right.svg);
        background-repeat: no-repeat;
        right: 0;
        top: 8px;
        width: 6px;
        height: 12px;
    }   
}

.menu__sec {
    padding-top: 25px;
    z-index: 3;
    width: 100%;    
    background-color: #F3F2F5;
    opacity: 0;
    transition: 0.5s opacity;
}

.menu__sec-list {
    z-index: 3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &:hover {
        .menu__trd {
            opacity: 1;
            top: 0;
            height: 100%;
        }
    }
}

.menu__item {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 17px;
    padding: 10px;
    z-index: 3;

    &::after {
        content: '';
        position: absolute;
        background-image: url(../img/icons/link-right.svg);
        background-repeat: no-repeat;
        right: 10%;
        width: 6px;
        height: 12px;
    }

    &:hover {
        background-color: #fff;
    }
}

.menu__trd {
    padding-top: 25px;
    position: absolute;
    z-index: 3;
    width: 100%;
    left: 100%;
    top: -9999em;
    background-color: #fff;
    opacity: 0;
    transition: 0.5s opacity;
}

.menu__trd-list {    
    z-index: 3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &:hover {
        .menu__frth {
            opacity: 1;
            top: 0;      
            height: 100%;      
        }
    }
}

.menu__frth {
    padding-top: 25px;
    position: absolute;
    z-index: 5;
    width: 100%;
    left: 100%;
    top: -9999em;
    background-color: #F3F2F5;
    opacity: 0;
    transition: 0.5s opacity;
}




































// .menu {     
//     min-width: 300px;
//     max-height: 722px;
//     background-color: #fff;
//     padding-top: 35px;
// }

// .menu__main {

// }

// .menu__main-list {
//     padding: 0 40px;  
//     position: relative;  
//     transition: all .4s;        
// }

// .menu__main-list:hover {
//     background-color: #e5e5e5;   

//     .menu__main-item {
//         color: #E31937;
//         font-weight: 500;
//         border: none;        
//     }
// }

// .menu__main-item {  
//     display: flex;
//     align-items: center;
//     padding: 15px 0;   
//     line-height: 29px;
//     border-bottom: 1px solid rgba(0, 0, 0, 0.2);  
//     cursor: pointer;   

//     &::after {
//         content: '';
//         position: absolute;
//         background-image: url(../img/icons/link-right.svg);
//         background-repeat: no-repeat;
//         right: 10%;       
//         width: 6px;
//         height: 12px;
//     }      
// }

// .menu__sec {
//     display: none;
//     position: absolute;    
//     height: 100%;    
//     top: 0;
//     left: 100%;     
//     cursor: pointer; 
//     padding: 0 30px;           
// }

// .menu__sec-list {
//     min-width: 279px;
// }

// .menu__sec-item {
//     position: relative;
//     padding: 15px 0px;    
//     border-bottom: 1px solid rgba(0, 0, 0, 0.2);
//     position: relative;
//     font-size: 14px;
//     line-height: 16px;
//     width: 100%;

//     &::after {
//         content: '';
//         position: absolute;
//         background-image: url(../img/icons/link-right.svg);
//         background-repeat: no-repeat;
//         right: 10%;       
//         width: 6px;
//         height: 12px;
//     } 
// }